### Libraries and Other Peoples Objects

- `pandas`: Documentation [here](https://pandas.pydata.org/)
- cheatsheet: [here](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df

Empty DataFrame
Columns: []
Index: []

#### Create `DataFrame` from scratch

In [5]:
data = {'name': ['Lenny', 'Axel', 'Fu fu'],
        'species': ['dog', 'dog', 'cat']}

In [6]:
df = pd.DataFrame(data)
df

    name species
0  Lenny     dog
1   Axel     dog
2  Fu fu     cat

#### Create `DataFrame` from external file

In [12]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/refs/heads/master/data/drinks.csv'

In [13]:
drinks = pd.read_csv(url)

In [15]:
type(drinks)

pandas.core.frame.DataFrame

In [ ]:
#method to see first five rows

In [16]:
#include argument to view first 8 rows

#### Attributes of `DataFrame`

In [17]:
#shape

In [18]:
#index

In [19]:
#columns

#### Methods on `DataFrame`

In [20]:
#first five rows

In [21]:
#first 8 rows

In [22]:
#last five rows

In [23]:
#summary information

In [24]:
#descriptive summary of numeric variables

In [25]:
#descriptive summary of all variables

In [26]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

#### Selecting Data

In [27]:
#select a column

In [ ]:
#select multiple columns

In [28]:
#using .loc -- references names

In [ ]:
#using .iloc -- references indicies

#### Filtering Data

In [29]:
#countries who have more than 100 servings of beer

In [ ]:
#use the results to select rows where True

In [30]:
#using .loc

In [ ]:
#multiple conditions -- over 100 servings of beer and wine?

#### Sorting Data

In [31]:
#sort values by a columns values

In [32]:
#sort in descending order

In [33]:
#find the 10 observations with most beer servings

In [34]:
#find the 5 smallest spirits consumers

### Extras

### Decorators 

A decorator wraps a function and adds functionality to a function based on the decorator function.

In [ ]:
def a_decorator(f):
    def wrapper():
        print("Before function call")
        f()
        print("After function call")
    return wrapper

In [ ]:
def howdy():
    print("Howdy!")

In [ ]:
howdy()

In [ ]:
@a_decorator
def howdy():
    print("Howdy!")

In [ ]:
howdy()

In [ ]:
def fib(n):
    if n <= 1:
        return n
    else:
        return fib(n-1) + fib(n - 2)

In [ ]:
fib(10)

In [ ]:
fib(100)

**Example**: 

Suppose you are to write a function that takes in a list of playing card values and returns the sum of these cards.  A loop may be an obvious solution, but you might also use recursion to solve this problem.  

Here, you can think of it as taking the first card from the deck and giving the rest of the deck to someone else to add them.  This person continues this pattern, taking the first card and passing the remaining deck elsewhere.

### Recursion

![](https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Sierpinski_triangle.svg/440px-Sierpinski_triangle.svg.png)



A concept $x$ is recursive if it is used in its own definition.

In [ ]:
def add_cards(deck):
    smaller_deck = deck[1:]
    partial_total = add_cards(smaller_deck)
    extra_card = deck[0]
    return extra_card + partial_total

The function above would continue on forever, thus we need a way to stop the handing over of the summing.  Here, we can understand the stopping place as when the list is empty -- `deck == 0`.  This is our **base case**.

In [ ]:
def add_cards(deck):
    #base case
    if deck == []:
        return 0
    #recursion
    else:
        smaller_deck = deck[1:]
        partial_total = add_cards(smaller_deck)
        extra_card = deck[0]
        return extra_card + partial_total

print(add_cards([5, 2, 7, 3]))

**Exercise**: Define a function `sum_from_m_to_n` which returns the sum of all values from m to n. Write this function recursively.

To help you get started:
1.    What is a smaller version of the problem? Summing from m+1 to n
2.    What do we do with the solved version of the smaller problem? Add m to it
3.    What is the smallest version of the problem (base case)? When m equals n

In [ ]:
def sum_from_m_to_n(m, n):
    pass

In [ ]:
sum_from_m_to_n(1, 5)

### Use Case: Memoization

In mathematics, the Fibonacci numbers, commonly denoted Fn, form a sequence, called the Fibonacci sequence, such that each number is the sum of the two preceding ones, starting from 0 and 1. That is

$$\displaystyle F_{0}=0,\quad F_{1}=1$$

and

$$F_{n}=F_{n-1}+F_{n-2}$$

for n > 1.

The beginning of the sequence is thus:

$$ 0,\;1,\;1,\;2,\;3,\;5,\;8,\;13,\;21,\;34,\;55,\;89,\;144,\;\ldots $$

- [Wikipedia](https://en.wikipedia.org/wiki/Fibonacci_number)

Visualizing the function calls for `fib(5)`:

![](images/fib.png)

In [ ]:
from functools import lru_cache

In [ ]:
@lru_cache
def fib(n):
    if n <= 1:
        return n
    else:
        return fib(n-1) + fib(n - 2)

In [ ]:
fib(100)

In [ ]:
lennys_account.add_interest()

In [ ]:
lennys_account.balance

In [ ]:
print(lennys_account)

In [ ]:
lennys_account


**Exercise**: Create a Band class. A Band should have the following properties and methods:  
- `name`: String  
- `members`: a list of Strings, defaults to an empty list  
- `introduce_lineup()`: a method that prints all of the strings in members  
- `add_member(new_member)`: a method that adds a new member to the members then invokes introduce_lineup
- `kick_out(old_member)`: a method that removes the given member from the members list. If the members list is empty, add a disbanded property equal to True. Otherwise, invoke introduce_lineup.

**Exercise**:


Create the following subclasses that extend the Band class functionality:

- `Punk` bands have a `street_cred` property set to `True` and `earnings` property set to 0
- sell_out(amount): a method that changes street_cred to False and earnings increase by amount
- destroy_hotel_room(): a method that changes street_cred to True and earnings decrease by 5000


- `Jazz` bands have a songbook property set to an empty list
- `add_song(song_title)`: a method that adds the given song_title to the songbook
- `solo()`: a method that prints a message saying "____ is cooking!" fill in the blank with the first string in the members list, then move that member to the end of the list.

### The `__str__` and `__repr__` methods

- Define string representations of class

In [ ]:
class SavingsAccount(Account):
    def __init__(self, name, balance, rate = 0.05):
        super().__init__(name = name, balance = balance)
        self.rate = rate

    def add_interest(self):
        self.balance *= (1 + self.rate)

In [ ]:
lennys_account = SavingsAccount('Lenny', 100)

In [ ]:
lennys_account

In [ ]:
print(lennys_account)

In [ ]:
class SavingsAccount(Account):
    def __init__(self, name, balance, rate = 0.05):
        super().__init__(name = name, balance = balance)
        self.rate = rate

    def add_interest(self):
        self.balance *= (1 + self.rate)

    def __str__(self):
        return f'This is a savings account belonging to {self.name}'

    def __repr__(self):
        return f'{self.name} owns this account'

In [ ]:
lennys_account = SavingsAccount('Lenny', 100)

In [ ]:
lennys_account

In [ ]:
print(lennys_account)

In [91]:
class Punk:
    pass

class Jazz:
    pass