### Homework 2: Introduction to `numpy` and `pandas`

##### Problem 1: Import the libraries

Below, import `pandas` using standard alias's as we used in class.

### Pandas

The problems below involve using the `pandas` library.

##### Problem 2: Make a `DataFrame` from `dict`

Use the dictionary `ex_2_data` to build a pandas DataFrame named `dog_df` below.

In [1]:
ex_2_data = {'name': ['Lenny', 'Hardy', 'Oden', 'Hennessy', 'Cliff'],
             'breed': ['wildman', 'lab', 'lab', 'pitbull', 'boxer'], 
             'weight': [40, 70, 65, 73, 46], 
             'age': [3, 5, 13, 15, 4]}

##### Problem 3: Columns of a DataFrame

Below, extract the columns from the DataFrame `dog_df`.

##### Problem 4: Basic Information 

Use the `.info()` method to display basic information about `dog_df`.

#### A Second Dataset

Below, we load a built in dataset from the `seaborn` library.  We will use this library later in the course for data visualization, but for now just note that the object `titanic_df` is a DataFrame and we can just use the `.load_dataset` function to access it.

In [2]:
import seaborn as sns

In [3]:
titanic_df = sns.load_dataset('titanic')

##### Problem 5: Numerical Summaries

Use the `.describe` method to display numerical summaries for the columns in `titanic_df`.

##### Problem 6: Categorical Summaries

Use the `.describe()` method to display summaries of *only the categorical columns*.  (**Hint**: what does the `include` argument do?)

##### Problem 7: Shape of the data

How many rows and columns are in the DataFrame `titanic_df`?

##### Problem 8: Summaries

What is the mean and standard deviation of the `age` column?

##### Problem 9: Summaries by sex

Now, determine the mean and standard deviation for the male passengers `age`.

##### Problem 10: Young people in first class

Subset the data to passengers under the age of 18.  How many of these passengers traveled first class?

##### Problem 11: Older people embarked

Subset the data `titanic_df` to people over the age of 70.  What was the most common point of departure for them (`embark_town`)?

##### Problem 12: Survival Rate

Use the `survived` column to compute the survival rate for all passengers.

##### Problem 13: Renaming Columns

Rename the column `sibsp` to `num_siblings`.

##### Problem 14: Dropping Columns

Drop the column `adult_male` from `titanic_df`.

### Finding Data of Interest

As we discussed in class, a typical example of a dataset format is a `.csv` or `.json` filetype.  For this problem you are to locate and describe a dataset that you find around a topic of interest to you.  Be sure to explain why the data is of interest, and a general description of the data and some questions you might be able to answer using your data.  Attempt to load the data in using the `pandas` library.