# Introduction to `pandas`

In [1]:
#import and alias

## Creating a `DataFrame`

In [2]:
#create DataFrame from dictionary
data = {'CPI': [10, 11, 9],
        'GDP': [8, 3, 7],
        'Year': [2020, 2021, 2022]}

Head over to our course repository [here](https://github.com/jfkoehler/nyu_bootcamp_spr26/blob/main/data/Ames_Housing_Sales.csv) and download the `.csv` file for the Ames Housing data.  Upload this to colab or your local jupyter lab instance.

In [ ]:
#create DataFrame from a local .csv file

In [3]:
#look at the first five rows

In [5]:
#check out the shape of the data

In [6]:
#what are the column names?

In [7]:
#what are the row names?

In [8]:
#all above in one place with .info()

Turns out we can even just use the url to a `.csv` file as the filepath to create a `DataFrame` with.  In our repo, let's look at the "raw" data by selecting the [raw](https://raw.githubusercontent.com/jfkoehler/nyu_bootcamp_spr26/refs/heads/main/data/Ames_Housing_Sales.csv) button for the Ames data.

In [9]:
#url to .csv raw data
url = ''

In [10]:
#use read_csv to read url to dataframe

In [11]:
#look at first 10 rows

In [12]:
#look over info

## Selecting Rows and Columns

Both the rows and columns can be referred to based on their index *or* their names.  For index selection, we will use the `.iloc` function and for names we use the `.loc` method.

In [13]:
#select one column

In [14]:
#select two columns

In [15]:
#select first row

In [16]:
#select first three rows and three columns

In [17]:
#select the Alley column

In [18]:
#select the Alley and BsmtCond columns

### Selections based on conditions

Often we are interested in subsets of the data that satisfy specific criteria.  We can use the `.loc` method, the more dictionary like syntax, as well as the new `.query` method in pandas.

```python
df[conditional statement]
#or
df.loc[conditional statement]
#or
df.query(conditional statement)
```

In [19]:
#houses with a 3 car garage -- GarageCars feature

In [25]:
#using dictionary syntax

In [26]:
#using .loc

In [27]:
#using .query

In [28]:
#3 car garage and built after the year 2000 (YearBuilt feature)

In [29]:
#average price of houses with 3 car garage built in 2000's?

**CHALLENGE**

Head back to our repository and create a new `DataFrame` named `health` from the [health insurance charges](https://github.com/jfkoehler/nyu_bootcamp_spr26/blob/main/data/health_insurance_charges.csv) data.

1. Did people over 50 have different average costs than those under 50 years of age?

2. What is the average `bmi` of all the male observations?

3. Did people in the southeast spend more or less on average than those in the northeast?

### Sort and Summarize

In addition to the `.mean` method, there are a variety of helpful sorting, selecting, and aggregating functions built in to the `DataFrame`.  We explore these below.

- `.nlargest`
- `.nsmallest`
- `.sort_values`
- `.value_counts`
- `.describe`

In [30]:
#sort the data

In [31]:
#find the 10 largest bmi

In [32]:
#how many entries for each region?

In [33]:
#describe the numeric data

In [34]:
#describe all the data

**CHALLENGE**

With your neighbor, find another `.csv` file (from our repo [here](https://github.com/jfkoehler/nyu_bootcamp_spr26/tree/main/data) or from googling around) and create a DataFrame from this.  Check that the data is formatted as you expect and if there are any datatype or missing value issues.  Use three other pandas methods (feel free to consult the cheat sheet [here](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)) to explore your data.

In [35]:
#load in your data

In [36]:
#look at the info

In [37]:
#first few rows of data

In [38]:
#method 1

In [39]:
#method 2

In [40]:
#method 3

**CHALLENGE**

With your neighbor, identify an industry or topic of interest.  Try to find three examples of interesting structured data sources for this online.  

- Were you able to find a `.csv` file format or something different?
- What are some *DESCRIPTIVE* questions you could ask about your data? (Come up with at least 3)
- Attempt to load the data in and create a `DataFrame`.