# Practical Pandas and API's

**OBJECTIVE**

- Read csv files using url's and local file paths
- Access data using API's and the `requests` library
- Parse `json` data returned from API's

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas.plotting as pdp

### API's

An API is another resource for loading data.  Let's consider a basic API containing jokes of a wide variety.

- [Documentation](https://v2.jokeapi.dev/)
- Example response [here](https://v2.jokeapi.dev/joke/Any?type=twopart)

In [ ]:
import requests

In [ ]:
#make a request of the api (through a url)
r = requests.get('https://v2.jokeapi.dev/joke/Any?type=twopart')

In [ ]:
r

In [ ]:
print(r.text)

{
    "error": false,
    "category": "Pun",
    "type": "twopart",
    "setup": "How much did your chimney cost?",
    "delivery": "Nothing, it was on the house.",
    "flags": {
        "nsfw": false,
        "religious": false,
        "political": false,
        "racist": false,
        "sexist": false,
        "explicit": false
    },
    "id": 230,
    "safe": true,
    "lang": "en"
}

In [ ]:
data_dict = r.json()

In [ ]:
data_dict['setup']

'How much did your chimney cost?'

### Example II: NYC Open Data

Some API's have supporting libraries that stand in between the raw data and you; for example to access the NYC Citywide Payroll Data [here](https://dev.socrata.com/foundry/data.cityofnewyork.us/k397-673e).

In [ ]:
# make sure to install these packages before running:
!pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("k397-673e", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

Collecting sodapy
  Downloading sodapy-2.2.0-py2.py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: requests>=2.28.1 in /usr/local/lib/python3.12/dist-packages (from sodapy) (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.28.1->sodapy) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.28.1->sodapy) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.28.1->sodapy) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.28.1->sodapy) (2026.1.4)
Downloading sodapy-2.2.0-py2.py3-none-any.whl (15 kB)
Installing collected packages: sodapy
Successfully installed sodapy-2.2.0

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [ ]:
results_df.head()

,fiscal_year,payroll_number,agency_name,last_name,first_name,mid_init,agency_start_date,work_location_borough,title_description,leave_status_as_of_june_30,base_salary,pay_basis,regular_hours,regular_gross_paid,ot_hours,total_ot_paid,total_other_pay
0,2025,67,ADMIN FOR CHILDREN'S SVCS,NARVAEZ,JOSE,I,1996-06-23T00:00:00.000,MANHATTAN,CITY LABORER,ACTIVE,331.92,per Day,2080.00,75400.00,886.50,49064.52,0.00
1,2025,67,ADMIN FOR CHILDREN'S SVCS,HOWARD,CONNIE,T,2011-07-04T00:00:00.000,BRONX,ASSOCIATE YOUTH DEVELOPMENT SPECIALIST,ACTIVE,81562.00,per Annum,1820.00,73742.01,407.52,23908.27,18706.99
2,2025,67,ADMIN FOR CHILDREN'S SVCS,CALABRESE,MICHAEL,NaN,1996-06-23T00:00:00.000,MANHATTAN,PROGRAM EVALUATOR,ACTIVE,108739.00,per Annum,1820.00,105356.95,0.00,0.00,1497.01
3,2025,67,ADMIN FOR CHILDREN'S SVCS,GILL,KAREN,E,1996-06-23T00:00:00.000,MANHATTAN,CLERICAL ASSOCIATE MOST MAYORAL AG,ACTIVE,76460.00,per Annum,1820.00,74075.15,0.00,0.00,5696.52
4,2025,67,ADMIN FOR CHILDREN'S SVCS,JACKSON,SHELDENE,A,1998-07-13T00:00:00.000,QUEENS,CHILD PROTECTIVE SPECIALIST,ACTIVE,75138.00,per Annum,1820.00,72794.28,56.00,2781.22,9274.01

### Finding Data

Identify two areas of interest to your group.  Can you find a resource for good data on these subjects using either local data files, url's, or an API?